@font-face {
  font-family: "Vazirmatn";
  src: url("./Vazirmatn-Medium.ttf") format("truetype");
  font-weight: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("./Vazirmatn-Light.ttf") format("truetype");
  font-weight: 100;
  font-display: fallback;
}
